h1 {
    font-size: 1.5em
}

input, button {
    min-width: 72px;
    min-height: 36px;
    border: 1px solid grey;
}

label, input, button {
    display: block;
}

input {
    margin-bottom: 1em;
}